* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {

}

body {
    background: #2b2e38;
    color: white;
    font-family: sans-serif;
    padding: 20px;
    font-size: 14px;
}

label {
    display: block;
}

input {
    display: block;
    font-size: inherit;
}

input[type=number] {
    width: 80px;
    padding: 3px 3px;
}