:root {
    --border-radius: 4px;
    --control-height: 26px;
    --color-controll-bg: #3c404b;
    --margin-row-v: 6px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {

}

body {
    background: #2b2e38;
    color: white;
    font-family: sans-serif;
    padding: 15px;
    font-size: 13px;
    max-width: 230px;
}

body.source {
    background: transparent;
    color: black;
}

input {
    font-size: inherit;
}


input[type=number] {
    padding: 0 3px;
    width: 80px;
    border-radius: var(--border-radius);
    height: var(--control-height);
    border: none;
    color: inherit;
    background: var(--color-controll-bg);
    text-align: center;
    outline: none;
}

input[type=number]:hover {
    border: 2px solid #63666f;
    padding: 0 1px;
}

input[type=number]:focus {
    background: #191b26;
}

input[type=number]:focus {
    border: 2px solid #284cb8;
    padding: 0 1px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
    background: transparent;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: inherit;
    background: var(--color-controll-bg);
    border: none;
    border-radius: var(--border-radius);
    min-width: 32px;
    padding: 11px 20px;
    width: 100%;
}

button:hover {
    background: #4f535e;
}

button:active {
    background: #191b26;
}

.input-win-loss-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--margin-row-v);
}

.input-win-loss-wrapper .controls-wrapper {
    display: flex;
}

.input-win-loss-wrapper .controls-wrapper button {
    font-size: 2em;
    height: var(--control-height);
    padding: 0;
    width: auto;
}

.input-win-loss-wrapper .controls-wrapper button span {
    line-height: 0;
    height: 4px;
}

.input-win-loss-wrapper .controls-wrapper :not(:last-child) {
    margin-right: 8px;
}
